/** NAVIGATION BAR **/

header {
    background-color: #4CB490;
}

body {
    margin: 0;
    padding: 0;
}

a, h1, h2, p, a, input, form, select {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.active {
    color: #EAEAEA;
}

/*  WELCOME  */

.welcome {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.welcome h1, .welcome p {
    text-align: center;
}

.welcome p {
    font-size: 20px;
}

.welcome h1 {
    font-size: 40px;
}

/* SEARCH */

form {
    display: flex;
}

input {
    margin-right: 20px;
}

#search {
    cursor: default;
}

#submitInput {
    margin-left: 20px;
}

.search-choice, .main-favorites {
    width: 80%;
    margin: 0 auto;
}

/* RESULTS */

.search-results, .favorites-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-ctn {
    display: flex;
    margin-top: 50px;
    align-items: center;
    width: 31.25rem;
}

.result-ctn img {
    height: 100%;
    width: 100%;
}

.img-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.img-add input {
    margin-top: 10px;
    width: 100%;
}

.result-infos {
    height: 100%;
}

.search-results img, .favorites-ctn img, .random-favorite img {
    border-radius: 15px;
}


/* RANDOM FAVORITE */

.random-favorite {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img {
    width: 10%;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-right: 50px;
}

/* TYPO */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* INPUTS */

input:not(#search) {
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #4CB490;
    border: none;
}

input {
    list-style-type: none;
    outline: 0;
    cursor: pointer;
}

audio {
    list-style-type: none;
    outline: 0;
}

.add-one {
    margin-top: 50px;
}

.btn-remove {
    background-color: #FF4000 !important;
}

/* FAVORITES */

.main-favorites .title {
    font-size: 40px;
    text-align: center;
    
}

.main-favorites .list {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

#show-more {
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.more-results {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.no-fav {
    width: 100%;
    text-align: center;
    font-style: italic;
    color: orangered;
}

.start-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-choice  .start-search h1 {
    font-size: 30px;
}
.search-choice .start-search p {
    font-size: 20px;
}

.ooups, .no-search {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.go-search {
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #4CB490;
    border: none;
    margin: 0;
}

.welcome div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}