/** NAVIGATION BAR **/

header {
    background-color: #4CB490;
}

a, h1, h2, p, a, input, form, select {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
}

nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    
}

a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.active {
    color: #EAEAEA;
}

/*  WELCOME  */

.welcome {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

/* SEARCH */

form {
    display: flex;
}

input {
    margin-right: 20px;
}

#submitInput {
    margin-left: 20px;
}

.search-choice, .main-favorites {
    width: 80%;
    margin: 0 auto;
}

/* RESULTS */

.search-results, .favorites-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-ctn {
    display: flex;
    margin-top: 50px;
    align-items: center;
    width: 500px;
}

.result-ctn img {
    height: 100%;
    width: 100%;
}

.img-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.img-add input {
    margin-top: 10px;
    width: 100%;
}

.result-infos {
    height: 100%;
}


/* RANDOM FAVORITE */

.random-favorite {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 10%;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-right: 50px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

input:not(#search) {
    padding: 5px;
    color: white;
    border-radius:10px;
    background-color: #4CB490;
    border: none;
}

input {
    list-style-type: none;
    outline: 0;
    cursor: pointer;
}

.main-favorites h2 {
    margin-top: 30px;;
}

.add-one {
    margin-top: 50px;
}

.btn-remove {
    background-color: #FF4000 !important;
}