/* GENERAL */

body {
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
p,
a,
input,
form,
select {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
    margin: 0;
    padding: 0;
}

/** NAVIGATION BAR **/

header {
    background-color: #4CB490;
}

nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.active {
    color: #EAEAEA;
}

/*  WELCOME  */

.welcome {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.welcome div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.welcome h1,
.welcome p {
    text-align: center;
}

.welcome p {
    font-size: 20px;
}

.welcome h1 {
    font-size: 40px;
}

/* SEARCH */

form {
    display: flex;
    align-items: center;
}

#search {
    cursor: text;
    margin-right: 20px;
}

#submitInput {
    margin-left: 20px;
}

.search-choice,
.main-favorites {
    width: 80%;
    margin: 0 auto;
}

/* SEARCH  AND RESULTS*/

.search-results,
.favorites-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-ctn {
    display: flex;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
    width: 31.25rem;
    margin-right: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 13px 16px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 13px 16px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 13px 16px -9px rgba(0, 0, 0, 0.5);
}

.result-ctn img {
    height: 100%;
    width: 100%;
}

.img-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.img-add input {
    margin-top: 10px;
    width: 100%;
}

.result-infos {
    height: 100%;
}

.search-results img,
.favorites-ctn img,
.random-favorite img {
    border-radius: 20px;
}

.start-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-choice .start-search h1 {
    font-size: 40px;
    border-radius: 50px;
    padding: 20px;
    -webkit-box-shadow: -7px 11px 65px 0px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: -7px 11px 65px 0px rgba(0, 0, 0, 0.79);
    box-shadow: -7px 11px 65px 0px rgba(0, 0, 0, 0.79);
}

.search-choice .start-search p {
    font-size: 30px;
}

.ooups,
.no-search {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#show-more {
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.more-results {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/* RANDOM FAVORITE */

.random-favorite {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.search-results img {
    width: 170px;
    align-items: center;
    margin-bottom: 0.4rem;
}

.background {
    display: flex;
    justify-content: center;
}

.background img {
    margin-top: 30px;
    width: 30%;
}

.logo-deezer {
    height: 40%;
    margin-right: 50px;
}

/* TYPO */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* INPUTS */

input:not(#search) {
    padding: 5px;
    color: white;
    border-radius: 50px;
    background-color: #4CB490;
    border: none;
    width: 170px;
}

input {
    list-style-type: none;
    outline: 0;
    cursor: pointer;
}

audio {
    list-style-type: none;
    outline: 0;
}

.add-one {
    margin-top: 50px;
    text-align: center;
}

.btn-remove {
    background-color: #FF4000 !important;
}

/* FAVORITES */

.main-favorites .title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.main-favorites .list {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.no-fav {
    width: 100%;
    text-align: center;
    font-style: italic;
    color: orangered;
}

.go-search {
    padding: 5px;
    color: white;
    border-radius: 50px;
    background-color: #4CB490;
    border: none;
    margin: 0;
    width: 120px;
    text-align: center;
}

.heart-fav {
    color: #FF4000;
}

/* ARROWS UP AND DOWN */

.go-up,
.go-down {
    color: #4CB490;
    position: fixed;
    margin-right: 0;
}

.go-up {
    right: 1.25rem;
    bottom: 6.875rem;
}

.go-down {
    right: 1.25rem;
    bottom: 3.125rem;
}

#search,
#sort {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.flex-search,
.sort-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-search label,
.sort-section label {
    margin-right: 10px;
}